section .google{
    margin: 1px auto;
    display: block;
}

section #search {
    text-align: center;
}

nav {
    margin: 0px auto;
    padding: 0px;
}

ul {
    display: inline;
}

#left_menu {
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    overflow: auto;
}

#right_menu {
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    overflow: auto;
}

.about {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.store {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.gmail {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.images {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

