section {
    margin: 1px auto;
    display: block;
}

ul {
    display: inline-block;
}

#left_menu {
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    overflow: auto;
}

#right_menu {
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    overflow: auto;
}

.about {
    text-decoration: none;
}

.store {
    text-decoration: none;
}

.gmail {
    text-decoration: none;
}

.images {
    text-decoration: none;
}

